/* Implement tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html, body, #root {
   height: 100%;
   scroll-behavior: smooth;
}

body {
    background-color: #020202;
    font-family: "Roboto", sans-serif; 
}

main {
    margin-bottom: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.font-racer {
    font-family: "Racing Sans One", cursive;
}

.error-msg {
    border: 2px solid red;
    border-radius: 5px;
    background-color: lightcoral;
    color: #fff;
    font-size: 1.15rem;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px 5px;
}
